@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register Confirmation";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h1 class="card-title">@ViewData["Title"]</h1>
                </div>
                <div class="card-body">
                    <p>
                        Click the button below to confirm your account. ⬇️
                    </p>
                </div>
                <div class="card-footer text-center">
                    <a href="@Model.EmailConfirmationUrl" class="btn btn-primary">Confirm Account</a>
                </div>
            </div>
        </div>
    </div>
</div>
