@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h1 class="card-title">@ViewData["Title"]</h1>
                </div>
                <div class="card-body">
                    @{
                        if (User.Identity?.IsAuthenticated ?? false)
                        {
                            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                                <button type="submit" class="btn btn-danger">Log Out</button>
                            </form>
                        }
                        else
                        {
                            <p>You have successfully logged out of the application.</p>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
