.header {
    line-height: 50px;
    width: 100%;
    height: auto;
    font-size:larger;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    line-height: 20px;
    padding-top: 20px;
    font-size: large;
}
