@model AppointmentManagementSystem.Models.Appointment

@{
    ViewData["Title"] = "Edit an Appointment";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center">@ViewData["Title"]</h1>
            <h4 class="text-center">Enter the  New Details</h4>
            <hr />
            <form asp-action="Edit">
                <!-- Provides the necessary feilds for input to edit the appointment -->
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <!-- automatically inputed appointment Id -->
                <input type="hidden" asp-for="AppointmentId" />

                <div class="form-group">
                    <label asp-for="UserEmail" class="control-label">User Email</label>
                    <input asp-for="UserEmail" class="form-control" readonly />
                </div>

                <div class="form-group">
                    <label asp-for="AppointmentSubject" class="control-label">Subject</label>
                    <input asp-for="AppointmentSubject" class="form-control" />
                    <span asp-validation-for="AppointmentSubject" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="AppointmentDate" class="control-label">Appointment Date</label>
                    <input asp-for="AppointmentDate" class="form-control" />
                    <span asp-validation-for="AppointmentDate" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="AppointmentTime" class="control-label">Appointment Time</label>
                    <input asp-for="AppointmentTime" class="form-control" />
                    <span asp-validation-for="AppointmentTime" class="text-danger"></span>
                </div>

                <div class="form-group text-center">
                    <button type="submit" class="btn btn-success mt-2">Update Appointment</button>
                </div>
            </form>
            <div class="text-center">
                <a asp-action="Index" class="btn btn-danger mt-1">Back to List</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
